@charset "utf-8";

html {
  height: 100%;
  width: 100%;
}

body {
  width: 70%;
  margin: 0 auto;
}

.images {
  margin:0 auto;
}
img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0px;
  margin: 0px;
}
